USE [master]
GO
/****** Object:  Database [Aerolineas]    Script Date: 24/07/2022 05:47:23 p. m. ******/
CREATE DATABASE [Aerolineas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aerolineas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Aerolineas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aerolineas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Aerolineas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aerolineas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aerolineas]
GO
/****** Object:  Table [dbo].[Tabla aeropuertos]    Script Date: 24/07/2022 05:47:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla aeropuertos](
	[ID_AEROPUERTO] [int] NOT NULL,
	[NOMBRE_AEROPUERTO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tabla aeropuertos] PRIMARY KEY CLUSTERED 
(
	[ID_AEROPUERTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla de aerolíneas]    Script Date: 24/07/2022 05:47:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla de aerolíneas](
	[ID_AEROLINEA] [int] NOT NULL,
	[NOMBRE_AEROLINEA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tabla de aerolíneas] PRIMARY KEY CLUSTERED 
(
	[ID_AEROLINEA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla de movimientos]    Script Date: 24/07/2022 05:47:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla de movimientos](
	[ID_MOVIMIENTO] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tabla de movimientos] PRIMARY KEY CLUSTERED 
(
	[ID_MOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla de vuelos]    Script Date: 24/07/2022 05:47:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla de vuelos](
	[ID_AEROLINEA] [varchar](50) NOT NULL,
	[ID_AEROPUERTO] [varchar](50) NOT NULL,
	[ID_MOVIMIENTO] [varchar](50) NOT NULL,
	[DIA] [date] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO

INSERT INTO [Tabla aeropuertos]
VALUES 
(1,'Benito Juarez'),
(2, 'Guanajuato'),
(3, 'La paz'),
(4, 'Oaxaca')

INSERT INTO [Tabla de aerolíneas]
VALUES 
(1,'Volaris'),
(2, 'Aeromar'),
(3, 'Interjet'),
(4, 'Aeromexico')

INSERT INTO [Tabla de movimientos]
VALUES 
(1,'Salida'),
(2, 'Llegada')

INSERT INTO [Tabla de vuelos]
VALUES
(1,1,1, 2021-05-02),
(2,1,1, 2021-05-02),
(3,2,2, 2021-05-02),
(4,3,2, 2021-05-02),
(1,3,2, 2021-05-02),
(2,1,1, 2021-05-02),
(2,3,1, 2021-05-04),
(3,4,1, 2021-05-04),
(3,4,1, 2021-05-04)